{% extends 'base.html' %}

{% block content %}
    <h1>Calendário de Competições</h1>

    <div class="calendar">
        <table class="table">
            <thead>
                <tr>
                    <th>Data</th>
                    <th>Nome da Competição</th>
                    <th>Localização</th>
                </tr>
            </thead>
            <tbody>
                {% for competition in competitions %}
                    <tr>
                        <td>{{ competition.date }}</td>
                        <td>{{ competition.name }}</td>
                        <td>{{ competition.location }}</td>
                    </tr>
                {% empty %}
                    <tr>
                        <td colspan="3">Nenhuma competição cadastrada.</td>
                    </tr>
                {% endfor %}
            </tbody>
        </table>
    </div>
{% endblock %}
