{% extends 'base.html' %}

{% block content %}
    <div class="jumbotron jumbotron-fluid hero">
        <div class="container text-center">
            <h1 class="display-4">Bem-vindo à Natação Paralímpica</h1>
            <p class="lead">Escolha uma das opções abaixo para continuar:</p>
            <div class="mt-4">
                <h2>Cadastro de Usuários</h2>
                <a href="{% url 'create_athlete' %}" class="btn btn-primary mr-2">Cadastrar como Atleta</a>
                <a href="{% url 'create_coach' %}" class="btn btn-primary mr-2">Cadastrar como Treinador</a>
                <a href="{% url 'create_sponsor' %}" class="btn btn-primary mr-2">Cadastrar como Patrocinador</a>
            </div>
            <div class="mt-4">
                <h2>Acesso</h2>
                <a href="{% url 'login' %}" class="btn btn-secondary mr-2">Login</a>
                <a href="{% url 'home' %}" class="btn btn-secondary mr-2">Acessar como Usuário Comum</a>
            </div>
        </div>
    </div>
{% endblock %}
